body{
    text-align: center;
}

.btn-container{
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.btn{
    text-align: center;
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 0.5rem;
}

.red{
  background-color: #d95980;
}
.green{
  background-color:#63acc0;
}
.yellow{
 background-color: #f99b45;
}
.purple{
 background-color: #819ff9;
}

.flash{
  background-color: white;
}

.userflash{
  background-color: green;
}